@font-face {
    font-family: main-font;
    src: url('../../fonts/Cinzel-Regular.ttf');
}

nav {
	border-bottom: 3px solid #900902;
	background-color: #A9A49B ;
	height: 100px;
	width: 100%;
	position: relative;
	@media only screen and (min-width: 760px) {
		height: 75px;
	}
	&.fixed {
		@media only screen and (min-width: 760px) {
			height: 50px;
		}
		+.nav-block {
			height: 80px;
		}
	}
}
.fixed {
	position: fixed;
}

.nav-block {
	height: 0px;
}

.slicknav_menu {
	background-image: url('../images/logo-transparent.png');
	background-size: 165px;
	min-height: 70px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #A9A49B ;
	width: 100%;

	@media only screen and (min-width: 660px) {
		display: none !important;
	}
	.slicknav_btn {
		background-color: #900902;
		margin-top: 17px;
	}
	.slicknav_nav {
		padding-top: 10px;
		text-align: center;
		font-family: "main-font", arial, sans-serif;
		li {
			height: 45px;
			font-size: 20px;
			padding-top:12px;
		}
	}
}
.mobile-only { 
	display: block; 
	@media only screen and (min-width: 660px) {
		display: none;
	}
}

.ignore-mobile {
	display: none;
	@media only screen and (min-width: 660px) {
		display: block;
	}

}
#menu {
	display: none;
}

.header-logo {
	min-height: 100px;
	margin-top: 0 !important;
	// flex: 1 0 auto;

}
.desktop-nav { display: flex; display: flex; flex: 1 0 auto; justify-content: space-around; align-items: center; height: 100%; max-width: 700px; margin: 0 auto;
	li { flex: 1 0 33%; text-align: center; margin-top: 20px;} 
}
.nav-link { color: #fff; font-family: "main-font", arial, sans-serif; font-size: 20px; margin-top: 20px; text-decoration: none;}